:root {
    --primary: #130303;
    --text-primary: #DFDFDF;
    --app-font: "Montserrat Regular"; 
    --scrollbar-width: 14px;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('/fonts/montserrat-regular.woff2') format('woff2'),
      url('/fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}